<!--
//*****************************************************************************
//	システム名　　　：インシデント管理システム
//	サブシステム名　：
//	画面名　　　　　：インシデント登録画面
//	HTML_ID　　　　 ：IncidentEditView.php
//	作成日付・作成者：2017.10.05 ADF)S.Yoshida
//	修正履歴　　　　：
//*****************************************************************************
-->
<my-header></my-header>
<incidentSearch-modal #incident></incidentSearch-modal>
<kijoSearch-modal #kijo></kijoSearch-modal>
<userSearch-modal #salesUser (salesUserSelect)="onSalesUserSelected($event)"></userSearch-modal>
<userSearch-modal #skanUser (salesUserSelect)="onSalesUserSelected($event)"></userSearch-modal>
<userSearch-modal #callUser (salesUserSelect)="onSalesUserSelected($event)"></userSearch-modal>
<userSearch-modal #taioUser (salesUserSelect)="onSalesUserSelected($event)"></userSearch-modal>
<userSearch-modal #actUser (salesUserSelect)="onSalesUserSelected($event)"></userSearch-modal>
<sectionSearch-modal #salesSection (salesSectionSelect)="onSalesSectionSelected($event)"></sectionSearch-modal>
<sectionSearch-modal #skanSection (salesSectionSelect)="onSalesSectionSelected($event)"></sectionSearch-modal>
<sectionSearch-modal #callSection (salesSectionSelect)="onSalesSectionSelected($event)"></sectionSearch-modal>
<sectionSearch-modal #taioSection (salesSectionSelect)="onSalesSectionSelected($event)"></sectionSearch-modal>
<sectionSearch-modal #actSection (salesSectionSelect)="onSalesSectionSelected($event)"></sectionSearch-modal>
<projectSearch-modal #project></projectSearch-modal>
<customerSearch-modal #customer></customerSearch-modal>
<equipmentSearch-modal #equipment></equipmentSearch-modal>

<div id="editApp">
  <div ng-controller="EditController as main" class="container-fluid">
    <!--
                <button onclick="onHrefLink('./IncidentEdit.php')">load</button>
                <button ng-click="onHrefLink('./IncidentEdit.php')">load angular</button>
                <button ng-click="main.test()">load angular</button>
                -->
    <div class="text-right transition-button">
      <span>
        <button type="button" class="btn btn-danger" (click)="entryIncident()">登録</button>
      </span>
      <span>
        <button type="button" class="btn btn-danger" routerLink="/detail" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">
          閲覧へ戻る
        </button>
      </span>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading clearfix">
            <span class="h3 incident-title-status">{{incidentNo}}</span>
            <span class="h4 incident-title-status">　{{incidentStatusNm}}</span>
            <div class="pull-right">
              <strong>登録日：{{insDate}} {{insUserNm}}　最終更新日：{{updDate}} {{updUserNm}}</strong>
            </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body context-margin">
            <form>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>インシデント分類：
                      <span class="require">＊</span>
                    </strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <select name="sel_incidentType" class="form-control edit-dropdown" [(ngModel)]="incidentTypeCd">
                    <option value=""></option>
                    <option *ngFor="let item of incidentTypeArray" [value]='item.value'>
                      {{item.label}}
                    </option>
                  </select>
                </div>
                <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>親インシデント番号：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <div class="input-group">
                    <input name="txt_parentIncidentNo" type="text" class="form-control" [(ngModel)]="parentIncidentNo">
                    <input name="hid_parentIncidentId" type="hidden" [(ngModel)]="parentIncidentId">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-input-support" (click)="incident.openModal()">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>発生日時：</strong>
                  </label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 form-group">
                  <div class="input-group">
                    <input name="txt_incidentStartDate" type="text" class="form-control" #dpIncidentStartDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                      [(bsValue)]="incidentStartDate" value="{{incidentStartDate | date:'yyyy/MM/dd'}}">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-input-support" (click)="dpIncidentStartDate.toggle()">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                  <!-- <div class="input-group"> -->
                  <!-- <input name="txt_incidentStartTime" type="text" class="form-control" [(ngModel)]="incidentStartTime" value="{{incidentStartTime | date:'HH:mm'}}"> -->
                  <input name="txt_incidentStartTime" type="text" class="form-control" value="10:00">
                  <!-- <input name="txt_incidentStartTime" type="text" class="form-control" value="{{incidentStartTime | date:'shortTime'}}" readonly>
                    <ng-template #popIncidentStartTime>
                      <timepicker name='txt_incidentStartTime' [(ngModel)]='incidentStartTime' [showMeridian]='ismeridian'></timepicker>
                    </ng-template>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-input-support" [popover]="popIncidentStartTime" [outsideClick]="true">
                        <i class="fa fa-clock-o"></i>
                      </button>
                    </span> -->
                  <!-- </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>業種区分：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <select name="sel_industryTypeCd" class="form-control edit-dropdown" [(ngModel)]="industryTypeCd">
                    <option value=""></option>
                    <option *ngFor="let item of industryTypeArray" [value]='item.value'>
                      {{item.label}}
                    </option>
                  </select>
                </div>
                <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>情報提供元：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <select name="sel_infoSourceCd" class="form-control edit-dropdown" [(ngModel)]="infoSourceCd">
                    <option value=""></option>
                    <option *ngFor="let item of infoSourceArray" [value]='item.value'>
                      {{item.label}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>情報提供者：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <input name="txt_infoProvider" type="text" class="form-control" [(ngModel)]="infoProvider">
                </div>
                <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>情報提供TEL：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <input name="infoProvidedTel" type="text" class="form-control" [(ngModel)]="infoProvidedTel">
                </div>
              </div>
              <div class="row file-row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>添付ファイル：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <input name="incidentFile" type="file">
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label>
                    <strong>関係者：</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-input-support">
                        <i class="fa fa-user"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  &nbsp;&nbsp;
                  <a>
                    <u>関係者を追加</u>
                  </a>
                </div>
              </div> -->
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                  <label for="InputTextarea">
                    <strong>注記：</strong>
                  </label>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
                  <textarea name="memo" class="form-control" id="InputTextarea" rows="3" [(ngModel)]="memo"></textarea>
                </div>
              </div>
              <h5 class="context-header">
                <strong>設備情報及び顧客情報</strong>
              </h5>
              <div class="setubi-and-cust-info-border">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>機場：
                        <span class="require">＊</span>
                      </strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group">
                      <input name="txt_kijoNm" type="text" class="form-control" [(ngModel)]="kijoNm">
                      <input name="hid_kijoId" type="hidden" [(ngModel)]="kijoId">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="kijo.openModal()">
                          <i class="fa fa-industry"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>事業主体：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="jigyosyutaiNm" type="text" class="form-control" [(ngModel)]="jigyosyutaiNm">
                      <input name="hid_jigyosyutaiId" type="hidden" [(ngModel)]="jigyosyutaiId">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>事業主体：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="jigyosyutaiNm" type="text" class="form-control" [(ngModel)]="jigyosyutaiNm" readonly>
                    <input name="hid_jigyosyutaiId" type="hidden" [(ngModel)]="jigyosyutaiId">
                  </div>
                  <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6">
                    <button type="button" (click)="jigyosyutaiClear()" class="btn btn-xs btn-warning">クリア</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>設備：
                        <span class="require">＊</span>
                      </strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group">
                      <input name="setubiNm" type="text" class="form-control" [(ngModel)]="setubiNm">
                      <input name="hid_setubiId" type="hidden" [(ngModel)]="setubiId">
                      <span class="input-group-btn">
                        <!-- <button type="button" class="btn btn-input-support"> -->
                        <button type="button" class="btn btn-input-support" (click)="equipment.openModal()">
                          <i class="fa fa-cog"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>都道府県：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_prefId" class="form-control edit-dropdown" [(ngModel)]="prefId">
                      <option value=""></option>
                      <option *ngFor="let item of prefArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>納入プロジェクト：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="deliveryPjNm" type="text" class="form-control" [(ngModel)]="deliveryPjNm">
                      <input name="hid_deliveryPjId" type="hidden" [(ngModel)]="deliveryPjId">
                      <span class="input-group-btn">
                        <!-- <button type="button" class="btn btn-input-support"> -->
                        <button type="button" class="btn btn-input-support" (click)="project.openModal()">
                          <i class="fa fa-wrench"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>顧客：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="custNm" type="text" class="form-control" [(ngModel)]="custNm">
                      <input name="hid_cudtId" type="hidden" [(ngModel)]="custId">
                      <span class="input-group-btn">
                        <!-- <button type="button" class="btn btn-input-support"> -->
                        <button type="button" class="btn btn-input-support" (click)="customer.openModal()">
                          <i class="fa fa-address-card-o"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>顧客分類：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_custTypeCd" class="form-control edit-dropdown" [(ngModel)]="custTypeCd">
                      <option value=""></option>
                      <option *ngFor="let item of custTypeArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>会社名・所属部署：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="custDept" type="text" class="form-control" [(ngModel)]="custDept">
                  </div>
                  <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>依頼者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="requester" type="text" class="form-control" [(ngModel)]="requester">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>連絡先(TEL)：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="contactTel" type="text" class="form-control" [(ngModel)]="contactTel">
                  </div>
                  <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>連絡先(FAX)：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="contactFax" type="text" class="form-control" [(ngModel)]="contactFax">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>連絡先(E-mail)：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="contactMail" type="text" class="form-control" [(ngModel)]="contactMail">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>営業部門：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_salesDeptNm" type="text" class="form-control" [(ngModel)]="salesDeptNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="salesSection.openModal('salesSection')">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                    <input name="hid_salesDeptCd" type="hidden" [(ngModel)]="salesDeptCd">
                  </div>
                  <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>営業担当者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_salesUserNm" type="text" class="form-control" [(ngModel)]="salesUserNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="salesUser.openModal('salesUser')">
                          <i class="fa fa-user"></i>
                        </button>
                      </span>
                    </div>
                    <input name="hid_salesUserId" type="hidden" [(ngModel)]="salesUserId">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>主管部門：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_skanDeptNm" type="text" class="form-control" [(ngModel)]="skanDeptNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="skanSection.openModal('skanSection')">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                    <input name="hid_skanDeptCd" type="hidden" [(ngModel)]="skanDeptCd">
                  </div>
                  <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <label>
                      <strong>主管担当者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_skanUserNm" type="text" class="form-control" [(ngModel)]="skanUserNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="skanUser.openModal('skanUser')">
                          <i class="fa fa-user"></i>
                        </button>
                      </span>
                    </div>
                    <input name="hid_skanUserId" type="hidden" [(ngModel)]="skanUserId">
                  </div>
                </div>
              </div>
              <h5 class="context-header">
                <strong>受付情報</strong>
              </h5>
              <div class="call-info-border">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>受付日：
                        <span class="require">＊</span>
                      </strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_callDate" type="text" class="form-control" #dpCallDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                        [(bsValue)]="callDate" value="{{callDate | date:'yyyy/MM/dd'}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="dpCallDate.toggle()">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>受付開始時刻：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="callStartDate" type="text" class="form-control" [(ngModel)]="callStartDate"> -->
                    <input name="callStartDate" type="text" class="form-control" value="10:00">
                    <!-- <input name="txt_callStartDate" type="text" class="form-control" value="{{callStartDate | date:'shortTime'}}" readonly>
                      <ng-template #popCallStartDate>
                        <timepicker name='txt_callStartDate' [(ngModel)]='callStartDate' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popCallStartDate" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-6 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>受付終了時刻：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="callEndDate" type="text" class="form-control" [(ngModel)]="callEndDate"> -->
                    <input name="callEndDate" type="text" class="form-control" value="10:30">
                    <!-- <input name="txt_callEndDate" type="text" class="form-control" value="{{callEndDate | date:'shortTime'}}" readonly>
                      <ng-template #popCallEndDate>
                        <timepicker name='txt_callEndDate' [(ngModel)]='callEndDate' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popCallEndDate" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>受付部署：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="callDeptNm" type="text" class="form-control" [(ngModel)]="callDeptNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="callSection.openModal('callSection')">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>受付者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="callUserNm" type="text" class="form-control" [(ngModel)]="callUserNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="callUser.openModal('callUser')">
                          <i class="fa fa-user"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>TEL：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="callTel" type="text" class="form-control" [(ngModel)]="callTel">
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>E-mail：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="callMail" type="text" class="form-control" [(ngModel)]="callMail">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label for="InputTextarea">
                      <strong>受付内容：
                        <span class="require">＊</span>
                      </strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <textarea name="callContent" class="form-control" id="InputTextarea" rows="4" [(ngModel)]="callContent"></textarea>
                  </div>
                </div>
              </div>
              <h5 class="context-header">
                <strong>対応情報</strong>
              </h5>
              <div class="taio-info-border">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>対応日：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_taioDate" type="text" class="form-control" #dpTaioDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                        [(bsValue)]="taioDate" value="{{taioDate | date:'yyyy/MM/dd'}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="dpTaioDate.toggle();">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>対応開始時刻：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="taioStartDate" type="text" class="form-control" [(ngModel)]="taioStartDate"> -->
                    <input name="taioStartDate" type="text" class="form-control" value="10:00">
                    <!-- <input name="txt_taioStartDate" type="text" class="form-control" value="{{taioStartDate | date:'shortTime'}}" readonly>
                      <ng-template #popTaioStartDate>
                        <timepicker name='txt_taioStartDate' [(ngModel)]='taioStartDate' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popTaioStartDate" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-6 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>対応終了時刻：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="taioEndDate" type="text" class="form-control" [(ngModel)]="taioEndDate"> -->
                    <input name="taioEndDate" type="text" class="form-control" value="10:30">
                    <!-- <input name="txt_taioEndDate" type="text" class="form-control" value="{{taioEndDate | date:'shortTime'}}" readonly>
                      <ng-template #popTaioEndDate>
                        <timepicker name='txt_taioEndDate' [(ngModel)]='taioEndDate' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popTaioEndDate" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>対応部署：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="taioDeptNm" type="text" class="form-control" [(ngModel)]="taioDeptNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="taioSection.openModal('taioSection')">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>対応者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="taioUserNm" type="text" class="form-control" [(ngModel)]="taioUserNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="taioUser.openModal('taioUser')">
                          <i class="fa fa-user"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>TEL：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="taioTel" type="text" class="form-control" [(ngModel)]="taioTel">
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>E-mail：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="taioMail" type="text" class="form-control" [(ngModel)]="taioMail">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label for="InputTextarea">
                      <strong>対応内容：</strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <textarea name="taioContent" class="form-control" id="InputTextarea" rows="4" [(ngModel)]="taioContent"></textarea>
                  </div>
                </div>
              </div>
              <h5 class="context-header">
                <strong>処置情報</strong>
              </h5>
              <div class="action-info-border">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置予定日：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="txt_actDate" type="text" class="form-control" #dpActDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" [(bsValue)]="actDate"
                        value="{{actDate | date:'yyyy/MM/dd'}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="dpActDate.toggle();">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置区分：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_actTypeCd" class="form-control edit-dropdown" [(ngModel)]="actTypeCd">
                      <option value=""></option>
                      <option *ngFor="let item of actTypeArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置開始日時：</strong>
                    </label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <div class="input-group">
                      <input name="txt_actStartDate" type="text" class="form-control" #dpActStartDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                        [(bsValue)]="actStartDate" value="{{actStartDate | date:'yyyy/MM/dd'}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="dpActStartDate.toggle();">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="txt_actStartTime" type="text" class="form-control" [(ngModel)]="actStartTime"> -->
                    <input name="txt_actStartTime" type="text" class="form-control" value="10:00">
                    <!-- <input name="txt_actStartTime" type="text" class="form-control" value="{{actStartTime | date:'shortTime'}}" readonly>
                      <ng-template #popActStartTime>
                        <timepicker name='txt_actStartTime' [(ngModel)]='actStartTime' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popActStartTime" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置終了日時：</strong>
                    </label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <div class="input-group">
                      <input name="txt_actEndDate" type="text" class="form-control" #dpActEndDate="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                        [(bsValue)]="actEndDate" value="{{actEndDate | date:'yyyy/MM/dd'}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="dpActEndDate.toggle();">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <!-- <div class="input-group"> -->
                    <!-- <input name="txt_actEndTime" type="text" class="form-control" [(ngModel)]="actEndTime"> -->
                    <input name="txt_actEndTime" type="text" class="form-control" value="10:30">
                    <!-- <input name="txt_actEndTime" type="text" class="form-control" value="{{actEndTime | date:'shortTime'}}" readonly>
                      <ng-template #popActEndTime>
                        <timepicker name='txt_actEndTime' [(ngModel)]='actEndTime' [showMeridian]='ismeridian'></timepicker>
                      </ng-template>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" [popover]="popActEndTime" [outsideClick]="true">
                          <i class="fa fa-clock-o"></i>
                        </button>
                      </span> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置部署：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="actDeptNm" type="text" class="form-control" [(ngModel)]="actDeptNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="actSection.openModal('actSection')">
                          <i class="fa fa-building"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>処置者：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                      <input name="actUserNm" type="text" class="form-control" [(ngModel)]="actUserNm">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-input-support" (click)="actUser.openModal('actUser')">
                          <i class="fa fa-user"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>TEL：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="actTel" type="text" class="form-control" [(ngModel)]="actTel">
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>E-mail：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <input name="actMail" type="text" class="form-control" [(ngModel)]="actMail">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label for="InputTextarea">
                      <strong>処置結果：</strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <textarea name="actContent" class="form-control" id="InputTextarea" rows="4" [(ngModel)]="actContent"></textarea>
                  </div>
                </div>
              </div>

              <h5 class="context-header">
                <strong>製品情報</strong>
              </h5>
              <div class="product-info-border">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>機種区分：</strong>
                    </label>
                  </div>
                  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                    <select name="sel_productTypeCd" class="form-control edit-dropdown" [(ngModel)]="productTypeCd">
                      <option value=""></option>
                      <option *ngFor="let item of productTypeArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <h5 class="context-sub-header">
                  <strong>障害状況</strong>
                </h5>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>　トリガー：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_productTriggerCd" class="form-control edit-dropdown" [(ngModel)]="productTriggerCd">
                      <option value=""></option>
                      <option *ngFor="let item of productTriggerArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>頻度：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_productHindoCd" class="form-control edit-dropdown" [(ngModel)]="productHindoCd">
                      <option value=""></option>
                      <option *ngFor="let item of productHindoArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>　現象：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_productGensyoCd" class="form-control edit-dropdown" [(ngModel)]="productGensyoCd">
                      <option value=""></option>
                      <option *ngFor="let item of productGensyoArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <label>
                      <strong>状態：</strong>
                    </label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <select name="sel_productStatusCd" class="form-control edit-dropdown" [(ngModel)]="productStatusCd">
                      <option value=""></option>
                      <option *ngFor="let item of productStatusArray" [value]='item.value'>
                        {{item.label}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <h4 class="panel-header text-primary">
          <strong>▼関係者</strong>
        </h4>
        <div class="panel panel-default">
          <div class="panel-body context-margin">
            <h5 class="context-header">
              <strong>
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i> 変更を通知する／
                <i class="fa fa-circle-o" aria-hidden="true"></i> 変更を通知しない
              </strong>
            </h5>
            <div class="context-margin">
              <div>サービスソリューション事業本部 ＣＥ事業部 東京サービス部 第一グループ</div>
              <div>
                <span class="context-margin relate-user-nm"> 水道　一郎 （既読日：2017/12/18）</span>
              </div>
              <div>
                <span class="context-margin relate-user-nm"> 水道　二郎 　　　　　　　　　　　</span>
              </div>
              <div>品質保証統括室 　品質管理グループ</div>
              <div>
                <span class="context-margin relate-user-nm"> 水道　花子 （既読日：2017/12/19）</span>
              </div>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <h4 class="panel-header text-primary">
          <strong>▼関連リンク</strong>
        </h4>
        <div class="panel panel-default">
          <div class="panel-body context-margin">
            <h5 class="context-header">
              <strong>プロジェクト情報
                <span class="text-danger">※プロジェクト情報はＡＲＣＳから行なってください。（ＡＲＣＳ登録後の翌日反映）</span>
              </strong>
            </h5>
            <div class="context-margin">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>プロジェクト番号：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a (click)="showPj()">
                    <u>J1000000</u>
                  </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>PJ主管部門：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">プロ主管</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>プロジェクト名：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">ｘｘｘｘｘｘｘｘｘｘｘｘｘ</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>PM：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">川本　健</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>代表機場：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">ｘｘｘｘｘｘｘｘｘｘｘｘｘ</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>都道府県：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">東京都</div>
              </div>
            </div>
            <h5 class="context-header">
              <strong>障害対応報告書(MR2)</strong>
            </h5>
            <div class="context-margin">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>件名：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a (click)="showMr2()">
                    <u>XXXXXXXXXXシーケンサ異常</u>
                  </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>作成日：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/1/4</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>依頼元：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">依頼元</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>作業担当者：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">川本　健</div>
              </div>
            </div>
            <h5 class="context-header">
              <strong>労災・事故・クレーム連絡</strong>
            </h5>
            <div class="context-margin">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>状態：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">第1報 正式発行</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>区分：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">品質（ランクＡ）</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>概要：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a (click)="showJiko()">
                    <u>XXXXXXXXXXXXXXXXXXXXXX</u>
                  </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>顧客名：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">川本　健</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>機場名：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">ｘｘｘｘｘｘｘｘｘｘｘｘｘ</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>発行日：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/1/1</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>発行元：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">ｘｘｘｘｘｘｘｘｘｘｘｘｘ</div>
              </div>
            </div>
            <h5 class="context-header">
              <strong>費用決済申請</strong>
            </h5>
            <div class="context-margin">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>ID番号：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <a (click)="showHiyo('dsp','dsp',416161,'','1282')">
                    <u>XXXXXXXXXX</u>
                  </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>ステータス：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">決裁</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>区分：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">クレーム対応</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>決裁番号：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">無償 第X号</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>件名：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">XXXXXXXXXXXXXXXXXXXXXX</div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <strong>概算金額：</strong>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="pull-right">123,456</div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <h4 class="panel-header text-primary">
          <strong>▼関連インシデント</strong>
        </h4>
        <div class="panel panel-default">
          <div class="panel-body context-margin">
            <h5 class="context-header">
              <strong>同一機場インシデント</strong>
            </h5>
            <div class="context-margin">
              <a (click)="showRelateIncident()">
                <u>#12390 障害 2016/12/31 ○○○浄水場 ○○○市</u>
              </a>
              <div class="context-margin">
                Ａ系水処理設備の終沈（１、２号）の監視操作不能なので対応頂きたい。
              </div>
            </div>
            <h5 class="context-header">
              <strong>同一顧客インシデント</strong>
            </h5>
            <div class="context-margin">
              <a (click)="showRelateIncident()">
                <u>#12312 問い合わせ 2016/12/31 ○○○センター ○○○企業局</u>
              </a>
              <div class="context-margin">
                富士電機製変圧器のＰＣＢ含有問合せ。以下の型式の変圧器にＰＣＢが含まれているかを教えて下さい。
              </div>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>